# Rust
/target
debug/
**/*.rs.bk
*.pdb

# Database
*.db
*.db-journal
*.db-wal
*.db-shm

# Dependencies
node_modules/
package-lock.json

# OS
.DS_Store
._*
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
.AppleDouble
.LSOverride
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
.apdisk
*.icloud
Icon

# Editors
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
.history
.ionide
*.vsix
.idea/
*.swp
*.swo
[._]*.s[a-v][a-z]
!*.svg
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
Session.vim
Sessionx.vim
.netrwhist
tags
[._]*.un~
